Skip
	to
	content
	Search
	or
	jump
	to…
	Pull
	requests
	Issues
	Marketplace
	Explore
	@Mark2D1019
	Mark2D1019
	/
	js_study
	Public
	Code
	Issues
	Pull
	requests
	Actions
	Projects
	Wiki
	Security
	Insights
	Settings
	js_study/src/styles.css
	@Mark2D1019
	Mark2D1019
	complete_js
	Latest
	commit
	8d41137
	2
	hours
	ago
	History
	1
	contributor
	63
	lines
	(62 sloc)
	956
	Bytes
	body {
	font-family: sans-serif;
}
/** 
pddingは内側の余白
marginは外側の余白
*/

input {
	border-radius: 16px;
	border: none;
	padding: 6px 16px;
	outline: none;
}
button {
	border-radius: 16px;
	border: none;
	padding: 6px 16px;
	margin-right: 4px;
}
button:hover {
	background-color: coral;
	color: white;
	cursor: pointer;
}
li {
	margin-right: 8px;
}
.title {
	text-align: center;
	margin-top: 0px;
	font-weight: bold;
	color: #666;
}
.list-row {
	display: flex;
	align-items: center;
	padding-bottom: 4px;
}

.imcomplete-area {
	background-color: aquamarine;
	width: 400px;
	min-height: 200px;
	padding: 8px;
	margin: 8px;
	border-radius: 8px;
}
.complete-area {
	background-color: aqua;
	width: 400px;
	min-height: 200px;
	padding: 8px;
	margin: 8px;
	border-radius: 8px;
}
